#inputbox {
    float: left;
    text-align: center;
}
input {
    text-align: center;
}
.solid {
    border-top: 1px solid #17a2b8; /* solid border */ 
}
#searched-weather {
    
    float: left;
    padding: 1rem 10rem 4rem;
    text-align: left;
}
.parent{
    position: relative;
}
.card {
    position: absolute;
    bottom: 0;
    float: left;
    padding: 1rem 1rem;
    text-align: left;
    display: flex;
    

}
